//!Variables
$basic-white: #ffffff;
$basic-dark: #202020;
$basic-cyan: #1eacc7;
$basic-cyan-choice: #1ca8c3;
$basic-pink: #ff5656;
$basic-cyan-world: #1fbad6;
$basic-dark-world: #070716;
$basic-dark-light-world: #999999;

$basic-fs-15: 15px;
$basic-fs-17: 17px;
